.form-control {
  margin-bottom: 15px;
}

.form-select {
  margin-bottom: 15px;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  height: 100%;
  display: flex;
  background-size: cover;
  align-items: center;
}

.titulo {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
  color: seagreen;
}

.tituloMain {
  text-align: center;
  padding-bottom: 10px;
  font-size: 80px;
  font-weight: bold;
  color: seagreen;
}

.medida{
  padding-top: 10px;
  padding-bottom: 10px;
}

.login {
  background-size: cover;
  background-color: #dbffda;
  height: 100%;
}

.jumbotron {
  background-size: cover;
  /*background-color: #DBFFDA;*/
  height: 100%;
}

.navbar {
  width: 100%;
}

.navbar-custom {
  background-color: #e6ffe6;
}

.logo {
  color: seagreen;
}

.boxEmpleado {
  margin-top: -30px;
}

.boxPacientes {
  margin-top: -40px;
}

.boxLogin {
  background-size:cover;
  background: url('../imagenes/background2.png');
}

.boxCitas {
  margin-top: 50px;
  margin-left: -700px;
}

.modal-header .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  background-color: #fff;
  border: 0;
}

.modal-header .close:hover {
  opacity: 1;
}

.Citas{
  margin-top: -700px;
  margin-left: 800px;
  width: 400px;
  height: 200px;
  border: 1px solid #000;
}

.infoCita{
  width: 700px;
  height: 100px;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.cCitas{
  width: 800px;
  height: 600px;
  position: absolute;
  margin-left: 1000px;
  margin-top: -200px;
  overflow: auto;
  overflow-x: hidden;
}

.ccPacientes{
  height: 670px;
  width: 820px;
  overflow: auto;
  overflow-x: hidden;
}

.ccEmpleados{
  height: 670px;
  width: 820px;
  overflow: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}

.cardCita{
  margin-top: -100px;
  margin-left: -40px;
 
} 

.cardPaciente{
  margin-left: 0px;
}

.mensajito{
  margin-left: -1px;
}

.cardCitas{
  width: 600px;
  padding: 10px;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cPacientes{
  padding: 10px;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cEmpleado{
  padding: 10px;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contPacientes{
  margin-left: 140px;
}

.titleCard{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 5px;
}

.body, html{
  overflow: hidden;
}

.botonverde{
  width: 100px;
  padding: 5px;
}

.botonrojo{
  width: 100px;
  padding: 5px;
}

.divBoton1{
  padding-bottom: 5px;
  position: absolute;
  margin-left: 450px;
}
.divBoton2{
  padding-bottom: 5px;
  position: absolute;
  margin-left: 450px;
  margin-top: 50px;
}

.divBoton1Paciente{

  position: relative; 
  margin-left: 500px;
}
.divBoton2Paciente{
  position: relative;
  margin-left: 500px;
}

.BotonesCRUD{
  position: absolute;
  margin-top: 10px;
}

.botonverdePaciente{
  width: 170px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  height: 53.5px;
  padding: 5px;
}

.botonrojoPaciente{
  width: 170px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  height: 53.5px;
  padding: 5px;
}

.seccion{
  color:#2E782E;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  width:350px;
  height: 200px;
  border: 0.5px solid #BDBDBD;
  background-color: #fff;
  align-items: center;
  align-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 15px;
}

.opcionesIngreso{
  margin-top: -50px;
}

.seccion:hover{
  color:rgb(153, 153, 153);
}

.saludo{
  font-weight: bold;
  font-size: 90px;
  color: #095309;
  text-align: center;
  padding-bottom: 20px;
}

.mensajeInicio{
  font-weight: bold;
  font-size: 100px;
  color: seagreen;
  text-align: center;
}

.mensajeInicio2{
  font-weight: bold;
  font-size: 70px;
  color: seagreen;
  text-align: center;
}

.ContenidoMensaje{
  margin-top: -100px;
}

.cardMensaje{
  border: 0.5px solid #BDBDBD;
}