.form-control{
    margin-bottom: 15px;
}

.form-select{
    margin-bottom: 15px;
}

.vertical-center {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .titulo{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    color:seagreen;
  }