.form-control{
    margin-bottom: 15px;
}

.form-select{
    margin-bottom: 15px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    height: 100%;
    display: flex;
    background-size:cover;
    align-items: center;
  }

  .titulo{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    color:seagreen;
  }

   .tituloMain{
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
    font-weight: bold;
    color:seagreen;
  }

.login{
  background-size:cover;
  background-color: #DBFFDA;
  height: 100%;
}

.jumbotron{
  background-size:cover;
  /*background-color: #DBFFDA;*/
  height: 100%;
}

.navbar{
  width: 100%;

}

.navbar-custom{
  background-color: #E6FFE6;
}

.logo{
  color: seagreen;
}

.boxEmpleado{
  margin-top: -30px;
}

.boxPacientes{
  margin-top: -40px;
}